
<link rel="stylesheet" href="/css/header.css">
<header>
    <div id="header-container">
        <div id="page-name">
            <h1>Habbit Tracker</h1>
        </div> 
        <div id="sign-container">
                <div id="home">
                   <a href="/">Home</a>
               </div>
               <div id="weeklist">
                <a href="/home/weeklist">Week List</a>
               </div> 
        </div>
    </div>
</header>

<script src="/js/header.js"  ></script>