#weekTasks {
  /* border: 2px solid black; */
  margin: 3%;
  display: flex;
  justify-content: space-evenly;
  /* overflow-x:scroll; */
}
fieldset{
  padding:0%;
  width:fit-content;
  margin-left: 15%;
}
#habitName{
  margin-left: 5%;
}

#HabitWeekList{
  width: 10%;
  border: 2px solid rgb(7, 7, 7);
 color: white;
 background-color: black;
  padding: 5px;
  overflow: hidden;
  margin: 2px;
}


#status{
  border: none;
}


